.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box1, .box5 {
    width: 5rem;
    height: 3rem;
    font-size: 1rem;
    color: white;
  }
  .box1 {
    background-color: grey;
  }
  .box5 {
    background-color: turquoise;
  }
  
  .box2, .box4 {
    width: 8rem;
    height: 5rem;
    font-size: 2rem;
    background-color: violet;
    color: white;
  }
  .box2 {
    background-color: royalblue;
  }
  .box4 {
    background-color: tomato;
  }
  
  .box3 {
    width: 11rem;
    height: 7rem;
    font-size: 4rem;
    background-color: darkslategrey;
    color: white;
  }